<mat-card [ngClass]="{ 'text-center': !fullWidthMode }">
    <div [ngClass]="{ flex: fullWidthMode }">
        <img
            class="mx-auto h-[200px]"
            src="https://via.placeholder.com/150"
            [ngClass]="{
                'h-200px': !fullWidthMode,
                'h-[360px]': fullWidthMode
            }"
        />
        <div
            class="w-full"
            [ngClass]="{ 'px-8 flex flex-col justify-between': fullWidthMode }"
        >
            <div>
                <h5>Shoes</h5>
                <p class="truncate whitespace-normal">FAC CACA CA</p>
                <p *ngIf="fullWidthMode">FACEM DESCRIERI</p>
            </div>
            <div class="flex justify-between">
                <span class="text-red-400">{{ "150" | currency }}</span>
                <button class="relative bottom-1">
                    <mat-icon
                        color="primary"
                        class="text-gray-500"
                        (click)="onAddToCart()"
                        >shopping_cart</mat-icon
                    >
                </button>
            </div>
        </div>
    </div>
</mat-card>
