<mat-drawer-container
    class="min-h-full max-w-7xl mx-auto border-x"
    [autosize]="true"
>
    <mat-drawer class="p-6" mode="side" opened>
        <app-filters (showCategory)="onShowCategory($event)"></app-filters>
    </mat-drawer>
    <mat-drawer-content class="p-6">
        <app-products-header (changeLayout)="onLayoutChange($event)">
        </app-products-header>
        <mat-grid-list
            gutterSize="16"
            [cols]="layoutCols"
            [rowHeight]="layoutRowHeight"
        >
            <mat-grid-tile>
                <app-product-box
                    class="w-full"
                    [fullWidthMode]="layoutCols === 1"
                    (addToCart)="onAddToCart($event)"
                ></app-product-box>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-drawer-content>
</mat-drawer-container>
